.table {
    margin-top: 2.5rem;
    background-color: lightgreen;
    border: 5px solid green;
}

.table:hover {
    background-color: greenyellow;
}

.order-history-button {
    font-family: 'Permanent Marker', 'cursive';
    color: white;
}