@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.italicK {
    font-family: 'Pacifico', 'cursive';
    color: white;
}
.nav-link {
    font-family: 'Sriracha', 'cursive';
    padding-left: '2rem'
}

.navbar-brand {
    font-family: 'Sriracha', 'cursive';
}

a {
    color: white;
}
a:hover {
    color: white;
}

