@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.form-title, .form-check-label {
    color: black;
    font-family: 'Permanent Marker', 'cursive';
}

.form-title {
    margin-left: 20%;
}
.form-check-label {
    margin-right: 10px;
}

.login-form-title {
    color: black;
    font-family: 'Permanent Marker', 'cursive';
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.login-container {
    margin-top: 50px;
    width: 50%;
    background-color: lightgreen;
    border: 5px solid green;
}

.login-container:hover {
    background-color: greenyellow;
}

.form-element {
    margin-left: auto;
    margin-right: auto;
}

.login-button {
    font-family: 'Permanent Marker', 'cursive';
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btn-success:hover {
    background-color: yellow;
    color: black;
}