@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.table {
    margin-top: 5.25rem;
}

.order-confirmation-title {
    padding-top: 1.25rem;
    color: black;
    font-family: 'Permanent Marker', 'cursive';
}

.order-confirmation-panel {
    margin-top: 50px;
    width: 50%;
    background-color: lightgreen;
    border: 5px solid green;
}

.confirm-order-button {
    font-family: 'Permanent Marker', 'cursive';
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}